<%= flash[:notice]%>
<p class="title">
<strong>Title:</strong>
<%=@book.title%>
</p>

<p class="title">
<strong>Body:</strong>
<%=@book.body%>
</P>

<%=link_to "Edit",edit_book_path(@book.id),class:"link"%>
|

<%=link_to "back","/books",class:"link"%>




